# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Zookeeper map

{%- import_yaml "database/zookeeper/defaults.yaml" as defaults %}
{%- set zookeeper_lookup = salt['pillar.get']('keydb:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ "zookeeperd", "zookeeper", "zookeeper-bin" ],
    },
}, grain='os_family', merge=zookeeper_lookup) %}
{%- do defaults.zookeeper.update(os_family_map) %}
{%- set zookeeper= salt['pillar.get'](
        'zookeeper',
        default=defaults.zookeeper,
        merge=True
    )
%}
