# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Kafka map

{%- import_yaml "tools/kafka/defaults.yaml" as defaults %}
{%- set kafka_lookup = salt['pillar.get']('keydb:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ "openjdk-11-jre-headless" ],
    },
}, grain='os_family', merge=kafka_lookup) %}
{%- do defaults.kafka.update(os_family_map) %}
{%- set kafka= salt['pillar.get'](
        'kafka',
        default=defaults.kafka,
        merge=True
    )
%}
