# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Kubernetes map

{%- import_yaml "kubernetes/defaults.yaml" as defaults %}

{%- import_yaml "kubernetes/kube/defaults.yaml" as kube %}
{%- do salt['defaults.merge'](defaults.kubernetes, kube) %}

{% import_yaml "kubernetes/k8scerts/defaults.yaml" as k8scerts %}
{% do salt['defaults.merge'](defaults.kubernetes, k8scerts) %}

{% import_yaml "kubernetes/multus/defaults.yaml" as multus %}
{% do salt['defaults.merge'](defaults.kubernetes, multus) %}

{% import_yaml "kubernetes/apiserver/defaults.yaml" as apiserver %}
{% do salt['defaults.merge'](defaults.kubernetes, apiserver) %}

{% import_yaml "kubernetes/scheduler/defaults.yaml" as scheduler %}
{% do salt['defaults.merge'](defaults.kubernetes, scheduler) %}

{% import_yaml "kubernetes/controller/defaults.yaml" as controller %}
{% do salt['defaults.merge'](defaults.kubernetes, controller) %}

{% import_yaml "kubernetes/kubelet/defaults.yaml" as kubelet %}
{% do salt['defaults.merge'](defaults.kubernetes, kubelet) %}

{% import_yaml "kubernetes/proxy/defaults.yaml" as proxy %}
{% do salt['defaults.merge'](defaults.kubernetes, proxy) %}

{% import_yaml "kubernetes/dashboard/defaults.yaml" as dashboard %}
{% do salt['defaults.merge'](defaults.kubernetes, dashboard) %}

{% import_yaml "kubernetes/tooling/defaults.yaml" as tooling %}
{% do salt['defaults.merge'](defaults.kubernetes, tooling) %}

{%- set kubernetes = salt['pillar.get'](
        'kubernetes',
        default=defaults.kubernetes,
        merge=True
    )
%}
