# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Disk map

{%- import_yaml slspath ~ "/defaults.yaml" as defaults %}
{%- set disk_lookup = salt['pillar.get']('disk:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'parted' ],
    },
}, grain='os_family', merge=disk_lookup) %}
{%- do defaults.disk.update(os_family_map) %}
{%- set disk= salt['pillar.get'](
        'disk',
        default=defaults.disk,
        merge=True
    )
%}
