# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Ntp map

{%- import_yaml 'common/ntp/defaults.yaml' as defaults %}
{%- set ntp_lookup = salt['pillar.get']('ntp:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
        'Debian': {
            "pkgs": [ 'ntp', 'ntpdate' ]
         },
}, grain="os_family", merge=ntp_lookup) %}
{%- do defaults.ntp.update(os_family_map) %}
{%- set ntp = salt['pillar.get'](
        'ntp',
        default=defaults.ntp,
        merge=True
    )
%}
