# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Consul map

{%- import_yaml slspath ~ '/defaults.yaml' as defaults %}
{%- set consul_lookup = salt['pillar.get']('consul:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': "consul",
    },
}, grain='os_family', merge=consul_lookup) %}
{%- do defaults.consul.update(os_family_map) %}
{%- set consul= salt['pillar.get'](
        'consul',
        default=defaults.consul,
        merge=True
    )
%}
