# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Apt map

{% import_yaml slspath ~ "/defaults.yaml" as defaults %}
{% set apt_lookup = salt['pillar.get']('apt:lookup', {}).copy() %}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': salt['grains.filter_by']({
            'jessie': [
                'unattended-upgrades',
                'debian-archive-keyring',
                'apt-listchanges',
                'python-software-properties',
                'apt-transport-https',
                ],
            'stretch': [
                'unattended-upgrades',
                'debian-archive-keyring',
                'apt-listchanges',
                'software-properties-common',
                'apt-transport-https',
                ],
            'buster': [
                'unattended-upgrades',
                'debian-archive-keyring',
                'apt-listchanges',
                'software-properties-common',
                'gnupg2'
                ],
            'bullseye': [
                'unattended-upgrades',
                'debian-archive-keyring',
                'apt-listchanges',
                'software-properties-common',
                'gnupg2'
                ],
            'kali-rolling': [
                'unattended-upgrades',
                'debian-archive-keyring',
                'apt-listchanges',
                'software-properties-common',
                'gnupg2'
                ],
            }, grain='oscodename'),
    },
}, grain='os_family', merge=apt_lookup) %}
{% do defaults.apt.update(os_family_map) %}
{% set apt= salt['pillar.get'](
        'apt',
        default=defaults.apt,
        merge=True
    )
%}
