# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Keepalived map

{%- import_yaml "tools/keepalived/defaults.yaml" as defaults %}
{%- set keepalived_lookup = salt['pillar.get']('keepalived:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'keepalived', 'ipvsadm' ],
    },
}, grain='os_family', merge=keepalived_lookup) %}
{%- do defaults.keepalived.update(os_family_map) %}
{%- set keepalived = salt['pillar.get'](
        'keepalived',
        default=defaults.keepalived,
        merge=True
    )
%}
