# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Test map

{%- import_yaml 'test/defaults.yaml' as defaults %}
{%- set test_lookup = salt['pillar.get']('test:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'test', 'figlet', 'lolcat' ]
    },
}, grain='os_family', merge=test_lookup) %}
{%- do defaults.test.update(os_family_map) %}
{%- set test = salt['pillar.get'](
        'test',
        default=defaults.test,
        merge=True
    )
%}
