{%- from "kubernetes/map.jinja" import kubernetes with context -%}
{%- set k8s = kubernetes.kube -%}
{%- set multus = kubernetes.multus -%}
{
  "name": "{{ multus.get("name", 'multus-cni-network') }}",
  "type": "multus",
  "cniVersion": "{{ multus.get("cni_version", '0.3.1') }}",
  "capabilities": {
    "portMappings": true
  },
  "logFile": "/var/log/multus.log",
  "logLevel": "{{ multus.get("log_level", 'debug') }}",
  "delegates": [
    {
      "cniVersion": "{{ multus.get("cni_version", '0.3.1') }}",
      "name": "default",
      "type": "bridge",
      "bridge": "{{ multus.get("bridge", 'docker0') }}",
      "isDefaultGateway": true,
      "forceAddress": true,
      "ipMasq": true,
      "hairpinMode": false,
      "ipam": {
        "type": "host-local",
        "subnet": "{{ multus.get("cidr", '172.16.160.0/24') }}",
        "routes": [{
            "dst": "{{ multus.get("network", '172.16.0.0/16') }}"
        }]
      }
    }
  ],
  "kubeconfig": "{{ k8s.home }}/{{ multus.kubeconfig.path }}"
}
