# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Network map

{%- import_yaml "common/network/defaults.yaml" as defaults %}
{%- set network_lookup = salt['pillar.get']('network:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ ],
    },
}, grain='os_family', merge=network_lookup) %}
{%- do defaults.network.update(os_family_map) %}
{%- set network= salt['pillar.get'](
        'network',
        default=defaults.network,
        merge=True
    )
%}
