# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Bind macro
{%- from "tools/bind/map.jinja" import bind with context -%}

{%- macro zone(key, args, file, masters, indent=false) %}
{%- if args['comment'] is defined  %}
    # *************************** {{ args['comment'] }}
{%- endif %}
{%- if args['zonename'] is defined  %}
    zone "{{ args['zonename'] }}" IN {
{%- else %}
    zone "{{ key }}" IN {
{%- endif %}
      type {{ args['type'] }};
  {%- if args['type'] == 'forward' -%}
    {%- if args['forward'] is defined %}
      forward {{ args['forward'] }};
    {%- endif %}
      forwarders {
    {%- for forwarder in args.forwarders | sort %}
          {{ forwarder }};
    {%- endfor %}
      };
  {%- else %}
  {%- if args['dnssec'] is defined and args['dnssec'] %}
      file "{{ bind.config_dir }}/{{ file }}.signed";
  {%- else %}
    {%- if args['type'] != "hint" %}
      file "{{ bind.config_dir }}/{{ file }}";
    {%- else %}
      file "{{ bind.root_cache }}";
    {%- endif %}
  {%- endif %}
  {%- if args['allow-update'] is defined %}
      allow-update { {{args['allow-update']}}; };
  {%- endif %}
  {%- if args.update_policy is defined %}
      update-policy {
  {%-   for policy in args.update_policy | sort %}
        {{ policy }};
  {%- endfor %}
      };
  {%- endif %}
  {%- if args['allow-transfer'] is defined %}
      allow-transfer { {{ args.get('allow-transfer', []) | join('; ') }}; };
  {%- endif %}
  {%- if args['also-notify'] is defined %}
      also-notify { {{ args.get('also-notify', []) | join('; ') }}; };
  {%- endif %}
  {%- if args['allow-query'] is defined %}
      allow-query { {{ args.get('allow-query', []) | join('; ') }}; };
  {%- endif %}
  {%- if args['masterfile-format'] is defined %}
      masterfile-format {{args['masterfile-format']}};
  {%- endif %}
  {%- if args['zone-statistics'] is defined %}
      zone-statistics yes;
  {%- endif %}
  {%- if args['type'] == "master" -%}
    {%- if args['notify'] %}
      notify yes;
    {%- else %}
      notify no;
    {%- endif -%}
  {%- else %}
      {%- if args['type'] != "hint" %}
      notify no;
      {%- endif -%}
  {%- if masters is iterable and masters is not string %}
      masters {
    {%- for item in masters | sort %}
        {{ item }};
    {%- endfor %}
      };
  {%- else %}
    {%- if args['type'] != "hint" %}
      masters { {{ masters }}; };
    {%- endif %}
  {%- endif %}
  {%- endif %}
  {%- endif %}
    };
{%- endmacro %}
