# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Bind map

{%- import_yaml "tools/bind/defaults.yaml" as defaults %}
{%- set bind_lookup = salt['pillar.get']('bind:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['bind9', 'bind9utils'],
        'user': 'bind',
        'group': 'bind',
        'root_cache': '/usr/share/dns/root.hints',
        'service': salt['grains.filter_by']({
            'bullseye': 'bind9',
            'kali-rolling': 'named',
            }, grain='oscodename'),
    },
}, grain='os_family', merge=bind_lookup) %}
{%- do defaults.bind.update(os_family_map) %}
{%- set bind= salt['pillar.get'](
        'bind',
        default=defaults.bind,
        merge=True
    )
%}
