# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Patroni map

{%- import_yaml "database/patroni/defaults.yaml" as defaults %}
{%- set patroni_lookup = salt['pillar.get']('patroni:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'patroni', 'python3-consul', 'postgresql', 'watchdog' ],
    },
}, grain='os_family', merge=patroni_lookup) %}
{%- do defaults.patroni.update(os_family_map) %}
{%- set patroni= salt['pillar.get'](
        'patroni',
        default=defaults.patroni,
        merge=True
    )
%}
