# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Raid map

{%- import_yaml slspath ~ "/defaults.yaml" as defaults %}
{%- set raid_lookup = salt['pillar.get']('raid:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'mdadm' ],
    },
}, grain='os_family', merge=raid_lookup) %}
{%- do defaults.raid.update(os_family_map) %}
{%- set raid= salt['pillar.get'](
        'raid',
        default=defaults.raid,
        merge=True
    )
%}
