# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Locale map

{%- import_yaml 'common/locale/defaults.yaml' as defaults %}
{%- set locale_lookup = salt['pillar.get']('locale:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'locales',
        'config_path': '/etc/locale.conf'
    },
}, grain='os_family', merge=locale_lookup) %}
{%- do defaults.locale.update(os_family_map) %}
{%- set locale = salt['pillar.get'](
        'locale',
        default=defaults.locale,
        merge=True
    )
%}
