{%- from "tools/docker/map.jinja" import docker with context -%}
version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /srv/registry
  delete:
    enabled: true
http:
  addr: :5050
  host: https://registry.drakonix.loc
  tls:
    certificate: /etc/haproxy/ssl.d/registry.crt
    key: /etc/haproxy/ssl.d/registry.crt.key
  headers:
    X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
