{%- from "tools/docker/map.jinja" import docker with context -%}
{
  "exec-opts": ["native.cgroupdriver=cgroupfs"],
  "log-driver": "{{ docker.log.driver }}",
  {%- if docker.registry.insecure %}
  "insecure-registries": ["{{ docker.registry.insecure }}"],
  "registry-mirrors": ["https://{{ docker.registry.insecure }}"],
  {%- endif %}
  "data-root": "{{ docker.root_data }}",
  "log-opts": {
    "labels": "{{ docker.log.labels | join(',') if docker.log.labels | length else "docker" }}",
    "tag": "{{ docker.log.tag }}"
  },
  "debug": {{ docker.debug | lower }},
  "bridge": "{{ docker.bridge }}"
}
