{%- from "tools/docker/map.jinja" import docker with context -%}
{
	"auths": {
		"{{ docker.registry.www }}": {
			"auth": "{{ salt['hashutil.base64_b64encode'](docker.registry.user + ':' + docker.registry.pass) }}"
		}
	},
	"HttpHeaders": {
		"User-Agent": "{{ docker.registry.agent }}"
	}
}
