# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Syslog-ng macro

{%- macro rule_builder(rule) -%}
    {%- if rule is none -%}
    {%- elif rule is sameas true -%}
yes
    {%- elif rule is sameas false -%}
no
    {%- elif rule is number -%}
{{ rule }}
    {%- elif rule is mapping -%}
        {%- for k, v in rule.items() -%}
            {%- if k == "perm" or k == "dir_perm" -%}
{{ k }}(0{{ rule_builder(v) }})
            {%- else -%}
{{ k }}({{ rule_builder(v) }})
            {%- endif -%}
        {%- endfor -%}
    {%- elif rule is iterable and rule is not string -%}
        {%- for v in rule -%}
{{ rule_builder(v) }}
        {%- endfor -%}
    {%- else -%}
        {%- if rule[0] == '=' -%}
{{ rule[1:] }}
        {%- else -%}
"{{ rule }}"
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro rewrite_builder(rule, map) -%}
    {%- if rule is none -%}
    {%- elif rule is mapping -%}
        {%- for k, v in rule.items() -%}
{{ k }}({{ rewrite_builder(v, true) }})
        {%- endfor -%}
    {%- elif rule is iterable and rule is not string -%}
        {%- for v in rule -%}
{{ rewrite_builder(v) }}
        {%- endfor -%}
    {%- else -%}
        {%- if map is sameas true -%}
"{{ rule }}"
        {%- else -%}
"{{ rule }}",
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}
