# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Etcd map

{%- import_yaml "tools/etcd/defaults.yaml" as defaults %}
{%- set etcd_lookup = salt['pillar.get']('etcd:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ "etcd", "etcd-server", "etcd-client" ],
        'mirror': "https://github.com/etcd-io/etcd/releases/download",
        'release': "3.4.16"
    },
}, grain='os_family', merge=etcd_lookup) %}
{%- do defaults.etcd.update(os_family_map) %}
{%- set etcd= salt['pillar.get'](
        'etcd',
        default=defaults.etcd,
        merge=True
    )
%}
