# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Resolver map

{%- import_yaml "common/resolver/defaults.yaml" as defaults %}
{%- set resolver_lookup = salt['pillar.get']('resolver:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'resolvconf' ],
    },
}, grain='os_family', merge=resolver_lookup) %}
{%- do defaults.resolver.update(os_family_map) %}
{%- set resolver= salt['pillar.get'](
        'resolver',
        default=defaults.resolver,
        merge=True
    )
%}
