# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Lvm map

{%- import_yaml slspath ~ "/defaults.yaml" as defaults %}
{%- set lvm_lookup = salt['pillar.get']('lvm:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'lvm2' ],
    },
}, grain='os_family', merge=lvm_lookup) %}
{%- do defaults.lvm.update(os_family_map) %}
{%- set lvm= salt['pillar.get'](
        'lvm',
        default=defaults.lvm,
        merge=True
    )
%}
