# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Saltstack map

{%- import_yaml "saltstack/defaults.yaml" as defaults %}

{%- import_yaml "saltstack/master/defaults.yaml" as master %}
{%- do salt['defaults.merge'](defaults.saltstack, master) %}

{%- import_yaml "saltstack/minion/defaults.yaml" as minion %}
{%- do salt['defaults.merge'](defaults.saltstack, minion) %}

{%- import_yaml "saltstack/cloud/defaults.yaml" as cloud %}
{%- do salt['defaults.merge'](defaults.saltstack, cloud) %}

{%- import_yaml "saltstack/authority/defaults.yaml" as authority %}
{%- do salt['defaults.merge'](defaults.saltstack, authority) %}

{%- import_yaml "saltstack/patch/defaults.yaml" as patchs %}
{%- do salt['defaults.merge'](defaults.saltstack, patchs) %}

{%- import_yaml "saltstack/service/defaults.yaml" as service %}
{%- do salt['defaults.merge'](defaults.saltstack, service) %}

{%- set saltstack = salt['pillar.get'](
        'saltstack',
        default=defaults.saltstack,
        merge=True
    )
%}
