# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Keydb map

{%- import_yaml "database/keydb/defaults.yaml" as defaults %}
{%- set keydb_lookup = salt['pillar.get']('keydb:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ "keydb" ],
        'deb_tools': 'keydb-tools_6.0.16-1+deb10u1_amd64.deb',
    },
}, grain='os_family', merge=keydb_lookup) %}
{%- do defaults.keydb.update(os_family_map) %}
{%- set keydb= salt['pillar.get'](
        'keydb',
        default=defaults.keydb,
        merge=True
    )
%}
