# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Gns3 map

{%- import_yaml slspath ~ '/defaults.yaml' as defaults %}
{%- set gns3_lookup = salt['pillar.get']('gns3:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'server_pkgs': [ "python3-pip", "qemu-system-x86", "qemu-utils", "libvirt-clients", "libvirt-daemon-system", "virtinst" ],
        'client_pkgs': [ "python3-pip", "python3-pyqt5", "python3-pyqt5.qtsvg", "python3-pyqt5.qtwebsockets" ],
    },
}, grain='os_family', merge=gns3_lookup) %}
{%- do defaults.gns3.update(os_family_map) %}
{%- set gns3 = salt['pillar.get'](
        'gns3',
        default=defaults.gns3,
        merge=True
    )
%}
