# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Timezone map

{%- import_yaml 'common/timezone/defaults.yaml' as defaults %}
{%- set timezone_lookup = salt['pillar.get']('timezone:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'tzdata',
    },
}, grain='os_family', merge=timezone_lookup) %}
{%- do defaults.timezone.update(os_family_map) %}
{%- set timezone = salt['pillar.get'](
        'timezone',
        default=defaults.timezone,
        merge=True
    )
%}
