# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Haproxy map

{%- import_yaml 'tools/haproxy/defaults.yaml' as defaults %}
{%- set haproxy_lookup = salt['pillar.get']('haproxy:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ "haproxy", "hatop" ],
    },
}, grain='os_family', merge=haproxy_lookup) %}
{%- do defaults.haproxy.update(os_family_map) %}
{%- set haproxy= salt['pillar.get'](
        'haproxy',
        default=defaults.haproxy,
        merge=True
    )
%}
