# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Repos map

{%- import_yaml 'common/repos/defaults.yaml' as defaults %}
{%- set repos_lookup = salt['pillar.get']('repos:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'git',
    },
}, grain='os_family', merge=repos_lookup) %}
{%- do defaults.repos.update(os_family_map) %}
{%- set repos = salt['pillar.get'](
        'repos',
        default=defaults.repos,
        merge=True
    )
%}
