# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Debian map

{%- import_yaml "common/debian/defaults.yaml" as defaults %}
{%- set debian_lookup = salt['pillar.get']('debian:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'git' ],
    },
}, grain='os_family', merge=debian_lookup) %}
{%- do defaults.debian.update(os_family_map) %}
{%- set debian = salt['pillar.get'](
        'debian',
        default=defaults.debian,
        merge=True
    )
%}
