# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# OpenSSH map

{%- import_yaml "common/openssh/defaults.yaml" as defaults %}
{%- set openssh_lookup = salt['pillar.get']('openssh:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
      'pkgs': ['openssh-server', 'openssh-client'],
    },
}, grain="os_family", merge=openssh_lookup) %}
{%- do defaults.openssh.update(os_family_map) %}
{%- set openssh = salt['pillar.get'](
    'openssh',
    default=defaults.openssh,
    merge=True
  )
%}
