# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Cron map

{%- import_yaml "common/cron/defaults.yaml" as defaults %}
{%- set cron_lookup = salt['pillar.get']('cron:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'cron',
        'service': 'cron',
    },
}, grain='os_family', merge=cron_lookup) %}
{%- do defaults.cron.update(os_family_map) %}
{%- set cron = salt['pillar.get'](
        'cron',
        default=defaults.cron,
        merge=True
    )
%}
