# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Libvirt map

{%- import_yaml slspath ~ '/defaults.yaml' as defaults %}
{%- set libvirt_lookup = salt['pillar.get']('libvirt:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'libvirt0', 'libvirt-clients', 'libvirt-daemon', 'libvirt-daemon-system', 'libvirt-daemon-driver-qemu', 'libvirt-daemon-system-systemd', 'libvirt-daemon-config-network', 'libvirt-daemon-config-nwfilter', 'libvirt-daemon-driver-lxc', 'libvirt-daemon-driver-vbox' ],
        'deps': [ 'python3-libvirt', 'qemu-system-x86', 'virtinst', 'libguestfs-tools', 'netcat-openbsd' ]
    },
}, grain='os_family', merge=libvirt_lookup) %}
{%- do defaults.libvirt.update(os_family_map) %}
{%- set libvirt = salt['pillar.get'](
        'libvirt',
        default=defaults.libvirt,
        merge=True
    )
%}
