# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Docker map

{%- import_yaml "tools/docker/defaults.yaml" as defaults %}
{%- set docker_lookup = salt['pillar.get']('docker:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ "docker-ce", "bridge-utils", "git" ],
    },
}, grain='os_family', merge=docker_lookup) %}
{%- do defaults.docker.update(os_family_map) %}
{%- set docker = salt['pillar.get'](
        'docker',
        default=defaults.docker,
        merge=True
    )
%}
