# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# bash map

{%- import_yaml 'common/bash/defaults.yaml' as defaults %}
{%- set bash_lookup = salt['pillar.get']('bash:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'bash', 'figlet', 'lolcat' ]
    },
}, grain='os_family', merge=bash_lookup) %}
{%- do defaults.bash.update(os_family_map) %}
{%- set bash = salt['pillar.get'](
        'bash',
        default=defaults.bash,
        merge=True
    )
%}
